<form [formGroup]="form" novalidate (ngSubmit)="submitHandler(form.value.text)">
  <mat-card class="add-card">
    <mat-card-content>
      <div class="row" *ngIf="form.get('text') as ctrl">
        <mat-form-field>
          <input matInput placeholder="Task Name" formControlName="text" />
          <mat-error *ngIf="ctrl.hasError('required')">
            Minimal text is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <p *ngIf="ctrl?.status === 'PENDING'">Checking...</p>
        <p *ngIf="ctrl?.hasError('nameTaken')">
          😢 Oh noes, this task is already exists!
        </p>
        <button
          color="primary"
          mat-raised-button
          [disabled]="!form.valid"
          type="submit"
        >
          Add
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
